@use "../../styles/main.scss" as *;

.bean-page {
    padding: 2rem;
    text-align: center;
  
    .title {
      font-family: $font-chewy;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  
    .bean-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
      @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 2-3 cards per row on tablets */
      }
  
      @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr); /* Exactly 2 cards per row on small mobile screens */
      }
    }
  
    .bean-card {
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;
  
      &:hover {
        transform: scale(1.05); /* Slight zoom effect */
      }
  
      .bean-image {
        width: 100%;
        border-radius: 8px;
        object-fit: contain;
      }
  
      h3 {
        margin-top: 1rem;
       // font-family: $font-primary;
        font-size: 1.25rem;
        color: $BeanSoftWhite-color;
      }
    }
    .bean-description {
        //margin-top: 0.5rem;
        //font-family: $font-chewy;
        font-size: 0.7rem;
        color: $BeanSoftWhite-color;
        line-height: 1.5; /* Gap between lines*/
        text-align: center;
      }
      .sort-buttons {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
      
      .sort-button {
        background-color: $BeanMintGreen-color; /* Light playful green */
        color: $BeanNavy-color; /* Dark navy text */
        padding: 0.8rem 2rem;
        font-size: 1.2rem;
        //font-family: $font-primary;
        border: none;
        border-radius: 50px; /* Rounded jelly-bean style */
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.2s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
      
        &:hover {
          background-color: $BeanPink-color; /* Fun pink on hover */
          color: $BeanSoftWhite-color;
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
        }
      
        &:active {
          background-color: $BeanNavy-color; /* Dark navy when pressed */
          color: $BeanSoftWhite-color;
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Pressed effect */
        }
      }
      
      
    
  }
  