.history-info-section {
    display: flex;
    align-items: center;
    padding: 2rem;
  
    .image-container {
      flex: 1;
      max-width: 40%;
  
      a {
        display: inline-block;
  
        img {
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
  
        &:hover img {
          transform: scale(1.05); /* Slight zoom on hover */
        }
      }
  
      img {
        width: 70%;
        height: auto;
        border-radius: 600px; /* Make the image round */
        object-fit: cover;
      }
    }
  
    .text-container {
      flex: 1;
      padding: 1rem;
  
      p {
        line-height: 1.8; /* Increase readability */
      }
    }
  
    /*Mobile reactivity section*/
    @media (max-width: 768px) {
      //flex-direction: column; //Removed the vertical layout so the image doesnt change place
      text-align: center;
      .image-container {
          max-width: 50%;
          img {
              object-fit: contain;
          }
      }
      p {
          font-size: 1rem; //New fontsize for mobiles
      }
      h1 {
          font-size: 1.5rem; //New fontsize for mobiles
      }
  }

  /*Smaller mobile reactivity section*/
  @media (max-width: 480px) {
      //flex-direction: column; //Removed the vertical layout so the image doesnt change place
      text-align: center;
      .image-container {
          max-width: 50%;
          img {
              object-fit: contain;
          }
      }
      p {
          font-size: 0.8rem; //New fontsize for even smaller mobiles
      }
      h1 {
          font-size: 1.2rem; //New fontsize for even smaller mobiles
      }
  }
  }
  